<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.ucl.kbapp" >
    <uses-permission
        android:name="android.permission.READ_LOGS"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="true"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>

</manifest>